# Boom Bikes Linear Model

In [17]:
import numpy as np # Math library
import pandas as pd # data processing, CSV file I/O #To work with dataset
import os
import matplotlib.pyplot as plt #to plot some parameters in seaborn
from PIL import  Image 
%matplotlib inline 
import seaborn as sns#Graph library that use matplot in background
import warnings
warnings.filterwarnings("ignore")
import io
import plotly.offline as py#visualization
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go#visualization
import plotly.tools as tls#visualization
import plotly.figure_factory as ff#visualization
import datetime #Datetime related operations
from datetime import datetime #Datetime related operations

In [15]:
bikeData = pd.read_csv("day.csv")

In [16]:
bikeData.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600